---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import About from "../components/About.astro";
import Founders from "../components/Founders.astro";
import Social from "../components/Social.astro";
import Clients from "../components/Clients.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import TechStack from "../components/TechStack.astro";
import Careers from "../components/Careers.astro";
---

<Layout title="XerionTech | Software Premium, IA y Consultoría Tecnológica">
	<Header />
	<main>
		<Hero />
		<Services />
		<TechStack />
		<About />
		<Founders />
		<Social />
		<Clients />
		<Contact />
		<Careers />
	</main>
	<Footer />
</Layout>
